@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 600;
    src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 400;
    src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 700;
    src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}