.container-choose {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}
.section-title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    color: rgba(0, 0, 0, 1)
}