:root {
    --color-brand: rgba(43, 127, 255, 1);
    --color-primary-black: rgba(1, 28, 68, 1);
    --color-primary-white: rgba(255, 255, 255, 1);
    --color-modal-grey: rgba(116, 114, 114, 1);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;