h2 {
    font-weight: 500;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;

    @media screen and (min-width: $bp-desktop) {
        font-weight: 700;
            font-size: 64px;
            font-family: 'Play', sans-serif;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
background-image: url('../images/background-section-why-people-choose.png');
    background-position: center 710px;
    background-repeat: no-repeat;
    line-height: 1;
    font-weight: 400;
    color: var(--color-primary-black);
    font-family: 'Roboto', sans-serif;
    margin: 0;

    @media screen and (min-width: $bp-desktop) {
        background-position: center 1050px;
            background-repeat: no-repeat;
            background-size: cover;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgba(0, 0, 0, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}

footer {
    max-height: 388px;
    padding: 56px 0;
    background-color: var(--color-primary-black);

    @media screen and (min-width: $bp-desktop) {
        max-height: 236px;
    }
}

