@import './utils/fonts';

@import './utils/variables';


@import './base';



@import './utils/utils';

@import './layouts/header';


@import './components/buttons';


@import './components/links';



@import './layouts/footer';

@import './layouts/hero-section';



@import './layouts/about-us';


@import './layouts/our-procedures';

@import './layouts/location-section';

@import './components/accent-text';

@import './layouts/modal';

@import './layouts/input';

@import './layouts/people-choose-us';

@import './components/carousel-button';

@import './utils/texts';

@import './layouts/services-cards';

@import './layouts/form-terms';

@import './layouts/mobile-menu';

@import './components/pagination';