.footer-section {
    padding: 56px 0 56px 100px;

&__components {
        line-height: 100%;
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: $bp-desktop) {
flex-direction: row;
align-items: baseline;
gap: 20px;
        }
    }

  &__footer-nav {
      display: flex;
      flex-basis: 50%;
      gap: 0;
      flex-direction: column;
      align-items: center;

    @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
        align-items: inherit;
        gap: 20px;
    }
  }

  &__footer-logo {
      display: inline-block;
      flex-grow: 1;
      width: 57px;
      height: 30px;
      margin-bottom: 42px;

    @media screen and (min-width: $bp-desktop) {
        width: 83px;
            height: 42px;
            margin-bottom: 0;
    }
  }
 
                
&__footer-link {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-primary-white);
    transition: color 0.3s;
    &:hover {
            color: var(--color-brand);
        }
}

&__footer-menu {
    flex-grow: 1;
    display: contents;

    @media screen and (min-width: $bp-desktop) {
        display: block;
    }
}

&__adressline {
    display: flex;
    flex-basis: 50%;
    gap: 0;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
        align-items: anchor-center;
        gap: 20px;
    }
}
&__adress-list {
    display: none;
    flex-grow: 1;

    @media screen and (min-width: $bp-desktop) {
display: block;
    }
}
&__copiwryting-rules {
    font-size: 13px;
    color: rgba(116, 114, 114, 1);
    padding-top: 8px;
}
&__copiwryte-rules-adress {
    flex-grow: 1;
    display: contents;

    @media screen and (min-width: $bp-desktop) {
display: block;
    }
};

&__footer-socials {
display: flex;
justify-content: flex-start;
gap: 24px;
padding-bottom: 8px;
}

&__item-menu {
    padding-bottom: 16px;
}
}






















