.header {
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    position: absolute;
    padding-top: 32px;

&__container {
    display: flex;
}

&__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

&__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
        
        justify-content: center;
            flex-grow: 1;
            gap: 10px;
            display: flex;
    }
}

&__button {
    display: none;
    @media screen and (min-width: $bp-desktop) {
            display: block;
}
}

&__burger {
    display: block;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 14px;
    padding: 0;
    @media screen and (min-width: $bp-desktop) {
       display: none;
}
}

&-icon {
    fill: var(--color-primary-black);
    stroke: var(--color-primary-black);
}
}
