
.input {
    margin-bottom: 24px;
    &__label {
            display: block;
        }

&__control {
    padding: 18px 33px;
    font-size: 13px;
    line-height: 100%;
    width: 100%;
    border: 2px solid var(--color-modal-grey);
    border-radius: 32px;
    background-color: transparent;
    
    &:focus {
        background-color: var(--color-modal-grey);
        border-color: var(--color-modal-grey);
        outline: none;
        }
    &::placeholder {
        color: var(--color-primary-white);
        font-size: 13px;
        line-height: 100%;
                }
}
}



.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}





