.location-section {
    padding-bottom: 0;

@media screen and (min-width: $bp-desktop) {
    padding-bottom: 96px;
}
    
&__places {
        display: flex;
        justify-content: center;
        gap: 14px;
        margin-bottom: 48px;
        color: var(--color-primary-black)
    }

&__point {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;

    @media screen and (min-width: $bp-desktop) {
        display: flex;
        gap: 32px;
        flex-direction: row;
    }
}

&__adress {
    border-radius: 0;
    border: none;
    width:100%;
    height:232px;

    @media screen and (min-width: $bp-desktop) {
        border-radius: 32px;
        width: 605px;
        height: 481px;
    }
}

&__container-contacts {
    background-color: var(--color-primary-black);
    height: 434px;
    width: 320px;
    border-radius: 32px;
    top: 0.87px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: $bp-desktop) {
        height: 481px;
        width: 423px;
    }

}

&__button {
    display: block;
    margin: 0 auto 16px;
    margin-bottom: 8px;
}

&__form-field {
    margin-bottom: 16px;
}

&__order-line {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-primary-white)
}

&__placement {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;

@media screen and (min-width: $bp-desktop) {
     padding: 0 24px;
}

}
}





