.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary-white);
    transform: translateX(100%);
    transition: transform 0.5s;

    &.is-open {
        transform: translateX(0);
    }
&__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
}    

&__burger-menu {
    padding: 16px 0px 0 20px;
}

&__burger-logo {
    margin-bottom: 32px;
};

&__burger-item {
padding-bottom: 16px;
}
}
