.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s;
    padding: 20px;

    @media screen and (min-width: $bp-desktop) {
        padding: 0;
    }
    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
 &__title {
     display: block;
     margin: 0 auto 40px;
     text-align: center;
 }

}

.modal {
    padding: 70px 20px;
    color: var(--color-primary-white);
    position: relative;
    width: 100%;
    max-width: 723px;
    height: 100%;
    max-height: 681px;
    background-color: var(--color-primary-black);
    border-radius: 48px;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (min-width: $bp-desktop) {
        padding: 42px 144px;
    }

    &__btn-close {
            position: absolute;
            right: 40px;
            top: 40px;
            cursor: pointer;
        }


       
                 
}

 
.item {
    text-align: center;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-primary-white)
}




