.procedures-section {
    display: flex;
    padding-bottom: 40px;

@media screen and (min-width: $bp-desktop) {
    padding-bottom: 96px;
}

&__slider {
        display: flex;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

&__procedures-cards {
    overflow: hidden;
}

}












