.choose-section {
    padding-bottom: 40px;

    @media screen and (min-width: $bp-desktop) {
    padding-bottom: 96px;
    }

&__container-advantages {
        display: block;
        justify-content: center;
        gap: 56px;

    }

 &__advantages {
     gap: 12px;
     line-height: 1.3;
     font-size: 18px;
     display: grid;
     justify-content: center;
     align-items: center;

    @media screen and (min-width: $bp-desktop) {
        display: flex;
        gap: 56px;
    }

 }

 &__our-advantages {
     background-color: var(--color-primary-white);
     height: 181px;
     width: 316px;
     border-radius: 32px;
     box-shadow: 0px 4px 4px 0 rgba(168, 198, 245, 0.38);
     display: flex;
     justify-content: center;
     align-items: center;
 }
}




