.swiper-wrapper{
    // display: flex;
    // justify-content: center;

    &__format-card {
            background: linear-gradient(180deg, rgba(1, 28, 68, 0), rgba(1, 28, 68, 0.1), rgb(1, 28, 68, 0.7));
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            position: relative;
            // width: 344px;
            height: 456px;
            border-top-left-radius: 120px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 120px;
            border-bottom-left-radius: 4px;
            margin: 0 16px 0 16px;
        }

    &__mask-image {
        border-top-left-radius: 120px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 120px;
        border-bottom-left-radius: 4px;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__procedures {
        display: flex;
        font-size: 22px;
        color: var(--color-primary-white);
        text-align: center;
    }

    &__injection-image {
        border-radius: 120px 4px 120px 4px;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__face-massage-image {
        border-radius: 120px 4px 120px 4px;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

