.button {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 32px;
    width: 281px;
    height: 53px;
    cursor: pointer;

}

.button-top {
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 32px;
    width: 219px;
    height: 53px;
    cursor: pointer;
    margin-bottom: 14px;
}

.button-top:hover {
    color: var(--color-primary-black);
    background-color: transparent
}

.button:hover {
    color: var(--color-primary-white);
    background-color: transparent
}

.button {
    display: block;
    margin: 0 auto 32px;
}