.pagination {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    padding-top: 32px;


    &__button {
        background-color: rgba(116, 114, 114, 1);
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &--active {
                background-color: rgba(43, 127, 255, 1);
            }

        @media screen and (min-width: $bp-desktop) {
            width: 11px;
                height: 11px;
        }

   
    }
}
